.card-header {
  background-color: white;
  border: inherit;
}

.navbar-accordion {
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
}

.navbar-accordion:hover {
    text-decoration: none;
    color: black;
  }

.navbar-card {
    border-radius: 20px;
}
