.NavbarHeader {
    font-family: "Zen Dots" !important;
    color: black !important;
    font-size: 2em !important;
}

.CardHeader {
  background-color: white !important;
  border: inherit !important;
}

.NavbarAccordion {
  background-color: white !important;
  border: none !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 0.8em !important;
}

.NavbarAccordion:hover {
  text-decoration: none !important;
  color: black !important;
}

.NavbarCard {
  border-radius: 20px !important;
}
